:root {
    --content-max-width: 750px;
    --gap: 1rem;
    --leva-gap: 0px;
    --highlight: #bf1722;
    --sceneColor: #ffffff;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    background: #fff;
}

#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 100%;
    min-height: 100%;
    min-width: min(400px, 100%);
    max-width: 1000px;
    padding: var(--gap);
}

h1 {
    /* padding: 1rem; */
    margin: 0;
}

footer {
    min-height: 6rem;
}

.content {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    gap: var(--gap);
    justify-content: top;
    margin: 0 auto;
    width: min(var(--content-max-width), 100%);
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 100%;
}

.app-holder {
    box-sizing: border-box;
    width: 100%;
    max-height: 500px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.gui-holder {
    width: 100%;
}

.leva-holder {
    width: 100%;
    background-color: var(--sceneColor);
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}

.leva-column {
    flex: 1 1 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.leva-column > div {
    flex: 1 1 auto;
    width: 100%;
}

#app {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.gui-holder > .lil-gui {
    --width: 100%;
    max-width: 100%;
    margin-inline: auto;
}

#app canvas {
    display: block;
    width: 100%;
    height: 100%;
}

@media (min-width: 701px) {
    .container {
        flex-direction: row;
        /* gap: 0px; */
    }

    .app-holder {
        flex: 1 1 0;
        min-width: 0;
    }

    .leva-holder {
        flex: 0 0 175px;
        min-width: 175px;
        width: 300px;
        height: auto;
        max-height: 100%;
        overflow-y: auto;
        flex-direction: column;
		gap: var(--leva-gap);
    }

    .leva-holder .leva-column {
        flex: 0 0 auto;
    }
}
